@charset "utf-8";
/* CSS Document */
html 
{
    background-color: lightseagreen;
    color: #000;
    overflow-y: hidden;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    top: 0;
    display: inline-block;
    background-color: #378285;
}

li 
{
    float: left;
    border: 1.5px solid #DCEBEB;
}

li a 
{
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #1A6F73;
}
#container
{
    position: relative;
    margin-top: 60px; 
    width: 100%;
    height: 95%;
}
#underline
{
    text-decoration: underline;
}
img
{
    width:400px;
    height:400px;
}
#sil2
{
    width: 600px;
}
#sil5
{
    width: 500px; 
}
#sil8
{
    width: 500px;
}
#loveletter
{
    font-family: "Times New Roman", Times, serif;
    font-size: 20
}
#silove
{
    font-family: "Times New Roman", Times, serif;
    font-size: 40
}